/* h1 color setting */
.head-bg{
    color: hotpink;
}
/* Input color: */
.input-bg{
    background-color:pink ;  
}
/* btn color setting */
.btn-bg{
    background-color: hotpink;
    color: #fff;
}
/* search */
.search-bg{
    background-color: rgb(253, 205, 213);
}
/* spinner */
#spinner{
    color:hotpink;
    display: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: larger;
    /* background-color: pink; */
}
/* Phone-details */
 .img-margin{
    margin-top: 80px;
} 
/* error  */
.error-handle{
    margin-top: 80px;
}