
.head-bg{
    color: hotpink;
}
.input-bg{
    background-color:pink ;  
}

.btn-bg{
    background-color: hotpink;
    color: #fff;
}

.search-bg{
    background-color: rgb(253, 205, 213);
}
#spinner{
    color:hotpink;
    display: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: larger;
    /* background-color: pink; */
}
.img-margin{
    margin-top: 80px;
}
.error-handle{
    margin-top: 80px;
}