
.head-bg{
    color: hotpink;
}
.input-bg{
    background-color:pink ;  
}

.btn-bg{
    background-color: hotpink;
    color: #fff;
}
/* .search-bg{
    background-color: rgb(206, 205, 205);
} */
.search-bg{
    background-color: pink;
}
